:root {
  --primary-text: #030712;
  --dark-01: #030712cc;
  --dark-02: #030712b3;
  --dark-03: #03071280;
}

* {
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.cover-bg {
  background: linear-gradient(rgba(3, 7, 18, 0.5), rgba(3, 7, 18, 0));
  background-image: url(images/banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.info-box-shadow {
  box-shadow: 0px 3px rgb(29, 209, 0);
}
